:root {
    --color-primary: #39FF14;
    --color-secondary: #30384D;
    --color-secondary-light: #454C5F;
    --color-secondary-dark: #454C5F;
    --color-secondary-section: #1B1B1B;
    --color-secondary-darker: #272727;
    --color-secondary-black: #101010;


    --color-white: #FFFFFF;
    --color-gray-1: #D9D9D9;
    --color-gray-2: #757575;
    --color-gray-3: #282828;

    --color-gift-special: #C61DB5;
    --color-gift-gold: #FFC300;
    --color-gift-silver: #D9D9D9;
    --color-gift-bronze: #C37417;

    --font-size-48: 3rem;           /* 48px */
    --font-size-36: 2.25rem;        /* 36px */
    --font-size-24: 1.5rem;         /* 24px */
    --font-size-20: 1.25rem;        /* 20px */
    --font-size-18: 1.125rem;       /* 18px */
    --font-size-16: 1rem;           /* 16px */
    --font-size-14: 0.875rem;       /* 14px */

    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-weight-thin: 200;

    --spacing-navbar-slogan: 5rem;          /* 80px */
    --spacing-between-sections: 5rem;       /* 80px */
    --spacing-title-subtitle: 1.25rem;      /* 20px */
    --spacing-title-body: 1.875rem;         /* 30px */
    --spacing-subtitle-body: 0.625rem;      /* 10px */

    --border-radius: .65rem;
}

body {
    background-color: var(--color-secondary-black);
    text-align: right;
    direction: rtl;
    font-family: IRANYekanX ,sans-serif;
    font-style: normal;
    font-weight: 400;
}


/*bleed-out*/
.full-bleed {
    box-shadow: 0 0 0 100vmax var(--color-secondary-darker);
    clip-path: inset(0 -100vmax);
}
.full-bleed-section {
    box-shadow: 0 0 0 100vmax var(--color-secondary-section);
    clip-path: inset(0 -100vmax);
}
.full-bleed-betweensection {
    box-shadow: 0 0 0 100vmax var(--color-secondary-dark);
    clip-path: inset(0 -100vmax);
}
/*header*/

.header {

}
.header__nav {
    background-color: var(--color-secondary-darker);
    height: 5rem;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    gap: 0.5rem
}
.header__nav-signup-button {
    width: 7.5rem;
}
.header__nav-signin-button {
    width: 7.5rem;
}
/*slider style*/

.header__main-slide {
    padding-top: var(--spacing-navbar-slogan);
    display: flex;
    height: 25rem;
    /*z-index: -10;*/
}
.header__main-slide-header-box {
    width: 70%;
}
.header__main-slide-title {
    font-size: var(--font-size-48);
    color: var(--color-white);
    font-weight: var(--font-weight-medium);

}
.header__main-slide-text {
    margin-top: var(--spacing-title-body);
    font-size: var(--font-size-14);
    color: var(--color-white);
    text-align: justify;
    font-weight: 300;
    margin-left: 3.5rem;
    margin-bottom: var(--spacing-title-body);
}
.header__main-slide-btn-chose {
    position: relative;
    text-align: right;
    background-color: var(--color-secondary-light);
    color: var(--color-white);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-16);
    border: none;
    width: 17rem;
    border-radius: var(--border-radius);
    padding: 1rem 2rem;
    cursor: pointer;
}
.header__main-slide-btn-chose svg {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    fill: white;
    width: 16px;
    height: 16px;
}
.header__main-slide-btn-send {
    margin-right: 1rem;

}
.header__main-slide-header-img-box {
    position: relative;
    width: 100%;
}
.header__main-slide-header-img {
    position: absolute;
    left: 0rem;
    width: 420px;
}
.header__info {
    position: relative;
    background-color: var(--color-secondary-section);
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: var(--spacing-between-sections);
}
.header__info-boxs {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
}
.header__info-box {
    width: 23.75rem;
    height: 7.5rem;
    color: var(--color-white);
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    font-size: var(--font-size-24);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .7rem;
}


/*steps*/
.steps {
    padding-top: 10rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    background-color: var(--color-secondary-section);
}
.steps__title {
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-medium);
    color: var(--color-white);
    text-align: center;
}
.steps__description {
    font-weight: var(--font-weight-medium);
    color: var(--color-white);
    text-align: center;
}
.steps__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.steps__item-line {
    position: absolute;
    top: 10%;
    width: 80%;
    z-index: -2;
}
.steps__item {
    margin-bottom: 10rem;
    color: var(--color-white);
}
.steps__item-title {
    margin-top: 2rem;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-medium);
}
.steps__item-description {
    margin-top: var(--spacing-title-body);
    color: var(--color-white);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-light);
}
.steps__icon {
}
.steps__icon-img {
    width: 4rem;
}
/*promotion*/
.promotion {

    padding-top: var(--spacing-between-sections);
    color: var(--color-white);
    text-align: center;
    background-color: var(--color-secondary-light);
}
.promotion__box-description {
    margin-top: var(--spacing-title-body);
    margin: 0 20rem;
}

/*prize-calculation*/
.section-wrapper {
    height: 75vh;
}
.prize-calculation {
    position: absolute;
    margin: 13rem auto;
    height: 16rem;
    background-color: var(--color-secondary-section);
}
.prize-calculation__title {
    width: 50%;
    margin-top: 4rem;
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-medium);
    color: var(--color-white);
}
.prize-calculation__description {
    width: 34%;
    margin-top: var(--spacing-title-body);
    font-size: var(--font-size-14);
    color: var(--color-white);
    font-weight: var(--font-weight-light);
    text-align: justify;
    margin-left: 3.5rem;
    margin-bottom: var(--spacing-title-body);

}
.prize-calculation__lists {
    background-color: var(--color-secondary-section);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /*left: 0;*/
    /*right: 0;*/
}
.prize-calculation__wrapper {
    position: relative;

}
.prize-calculation__list {
    position:absolute;
    left: 0;
    top: 5.1rem;
    display: flex;
    gap: 1.75rem;
    flex-direction: column;
    justify-content: space-between;
}
.prize-calculation__item {
    height: 5rem;
    width: 36.25rem;
    color: var(--color-white);
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    font-size: var(--font-size-16);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem 1rem 1rem ;
}
.prize-calculation__item-img {
    right: 1rem;
    position: absolute;
}
.prize-calculation__amount {

}
.prize-calculation__label {

}

/*leaderboard*/
.leaderboard {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary-section);
}
.leaderboard__wrapper {
    display: flex;
    gap: 2.5rem;
    margin-top: 2.625rem;
}
.leaderboard__title {
    padding-top: 4.12rem;
    text-align: center;
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-medium);
    color: var(--color-white);
}
.leaderboard__description {
    margin-top: 1.875rem;
    font-size: var(--font-size-14);
    color: var(--color-white);
    font-weight: var(--font-weight-light);
    text-align: center;
}

/*leaderboard*/

.leaderboard__feature {
    color: var(--color-white);
    padding: 2rem 0 1rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius);
    background-color: var(--color-secondary);
    width: 23.875rem;
    height: 35.125rem;
}

.leaderboard__feature-img {
    position: absolute;
    left: 38.5px;
    width: 303px;
    height: 303px;
    padding-top: 36px;
}
.leaderboard__feature-title {
    position: relative;
    font-size: var(--font-size-20);
}
.leaderboard__feature-badge {
    position: absolute;
    top: 6rem;
    width: 48px;
    height: 48px;
}
.leaderboard__feature-image {
    margin-top: 4rem;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: 1;
}
.leaderboard__feature-name {}
.leaderboard__feature-rewards {
    width: 342px;
    height: 176px;
    background-color: var(--color-secondary-section);
    border-radius: var(--border-radius);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-thin);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
}
.leaderboard__feature-reward-item {
    display: flex;
    justify-content: space-between;
}
/*leaderboard list*/
.leaderboard__data {}
.leaderboard__list {
    height: 62px;
    width: 719px;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-thin);
    display: flex;
    gap: 1.1rem;
    flex-direction: column;
    justify-content: space-between;
}
.leaderboard__list-title {
    color: var(--color-white);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 8.9rem 0 0;
}
.leaderboard__list-items {
    padding: 0.5rem 1rem;
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}
.leaderboard__item {}
.leaderboard__rank {
    margin-right: 2.5rem;
    margin-bottom: 3.75rem;
    position: absolute;
    z-index: 1;
}
.leaderboard__avatar {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.leaderboard__name {}
.leaderboard__prize-total {}
.leaderboard__vulnerabilities {}

/*component*/
.title {
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-medium);
    color: var(--color-white);
}
.btn-active {
    background-color: var(--color-primary);
    color: var(--color-secondary-black);
    padding: 1rem 2rem;
    font-weight: 500;
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius);
}
.btn-inactive {
    background-color: var(--color-secondary-darker);
    color: var(--color-white);
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius);
    padding: 1rem 2rem;
}
.span-color {
    font-weight: var(--font-weight-medium);
    color: var(--color-primary);
}
.radialGradient {
    background: radial-gradient(circle at 50% -50%, rgba(48, 48, 48, 48) 0%, rgba(0, 0, 0, 0) 60%);
}

